#proxysql-admin credentials
export PROXYSQL_USERNAME="admin"
export PROXYSQL_PASSWORD="admin"
export PROXYSQL_HOSTNAME="localhost"
export PROXYSQL_PORT="6032"
export CLUSTER_USERNAME="admin"
export CLUSTER_PASSWORD="admin"
export CLUSTER_HOSTNAME="localhost"
export CLUSTER_PORT="26000"
export MONITOR_USERNAME="monitor"
export MONITOR_PASSWORD="monit0r"
export PXC_APP_USERNAME="pxc_app_user"
export PXC_APP_PASSWORD="passw0rd"
